* {
    font-family: "Geist", sans-serif;
}

.gray-color {
    color: #64748B;
}

#open, #closed {
    display: inline-block; 
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 4px;
}

#open {
    background-color: #00A96E;
}
#closed {
    background-color: #A855F7;
}

.tab-container button {
    width: 120px;
}

.red-bg {
    background-color: #FEECEC;
    color: #EF4444;
}

.yellow-bg {
    background-color: #FDE68A;
    color: #D97706;
}

.green-bg {
    background-color: #BBF7D0;
    color: #00A96E;
}

.issue-number-container img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .tab-container button  {
        max-width: 80px;
    }

    .issue-number-container img {
        width: 30px;
        height: 30px;
    }

    .open-closed span {
        height: 8px;
        width: 8px;
        margin-right: 2px;
    }
}